type: "MARKDOWN_NOTE"
folder: "electron"
title: "electron-json-storage"
content: '''
  [electron-json-storage](https://github.com/jviotti/electron-json-storage)

  `app.getPath('userData')`
'''
tags: [
  "storage"
  "getPath"
]
isStarred: false
createdAt: "2017-04-22T10:59:33.657Z"
updatedAt: "2017-04-22T11:00:11.252Z"
